<!DOCTYPE html>
<html xmls="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>hello.html</title>
</head>
<body>
   <h1>Hello Thymeleaf!</h1>
   <h2 th:text="${'thymeleaf text 출력 테스트'}"></h2>

   <p th:text="${deptVO}"></p>
   <p data-th-text="${deptVO}"></p>   <!-- 위에 표현과 같은표현임 !  -->
   <hr>
   <ul>
      <li data-th-text="${deptVO.deptno}"></li>
      <li data-th-text="${deptVO.dname}"></li>
      <li data-th-text="${deptVO.loc}"></li>
   </ul>
   <hr>
   <ul data-th-inline="text">
      <li>[[${deptVO.deptno}]]</li>
      <li>[[${deptVO.dname}]]</li>
      <li>[[${deptVO.loc}]]</li>
   </ul>
</body>
</html>